.playgrounds {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.playground-info {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.playground-links {
  display: flex;
  gap: 6px;
  transform: translateY(-4px); 
}



.playground-links svg {
  transform: translateY(9px); 
}

/* Card */
.playground-card {
  background: rgba(152, 175, 245, 0.7);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  gap: 10px;
  padding-bottom: 20px;
  color: rgba(147, 167, 229, 0.7);
}

.playground-card:nth-child(even) {
  background: rgba(147, 168, 229, 0.992);
}

/* Hover effect */
.playground-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* Title */
.playground-card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #1f2933;
}

/* Text */
.playground-card p {
  font-size: 0.9rem;
  margin: 6px 0;
  color: #4b5563;
}

/* Map link */
.playground-card a {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.85rem;
  text-decoration: none;
  color: #2563eb;
  font-weight: 500;
  transition: color 0.2s ease;
}

.playground-card a:hover {
  color: #1d4ed8;
  text-decoration: underline;
}