/* Register.css */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f7fb;
}

.register-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(
      circle at bottom center,
      rgba(255,255,255,0.4) 0%,
      transparent 40%
    ),
    linear-gradient(
      to bottom,
      #e5d193 0%,
      #f3e6b5 35%,
      #d9ecff 75%,
      #c7e4ff 100%
    );
}

.register-container {
  width: 100%;
  max-width: 400px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.register-form h1 {
  margin: 0;
  text-align: center;
  color: #333;
}

.register-form input {
  width: 260px;

  padding: 18px;

  border: none;

  border-radius: 999px;

  background: #95a7e5;

  color: #243244;

  font-size: 1.2rem;
  text-align: center;

  box-shadow:
    0 6px 12px rgba(0,0,0,0.15);
}

.register-form input:focus {
  outline: none;
  border-color: #4a90e2;
}

.register-form button {
  width: 120px;
  height: 60px;

  border: none;

  border-radius: 999px;

  background: #8ecfb0;

  color: #243244;

  font-size: 1.3rem;
  font-weight: 500;

  cursor: pointer;

  box-shadow:
    0 6px 12px rgba(0,0,0,0.15);
}
.register-form input::placeholder {
  color: white;
  opacity: 1;
}

.register-form button:hover {
  background: #357abd;
}

/* Secondary button */
.register-form button[type="button"] {
  background: #e4e9f2;
  color: #333;
}

.register-form button[type="button"]:hover {
  background: #d6deeb;
}